html {
    overflow-y: scroll;
}

body {
    background-image: url("wallpaper.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: column; /* Stack header on top of content-bar area */
    align-items: center;
    background: #0c0c0c;
    font-family: Arial;
    font-weight: bold;
    color: #4bafff;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px; /* Maximum width to keep layout centered */
}

#header {
    width: 100%; /* Full width for the header */
    background-color: #0c0c0c;
    text-align: center;
}

#content-bar-container {
    display: flex; /* Display content and bar side by side */
    width: 100%;
    flex-direction: row-reverse;
}

#content {
    flex: 1; /* Allows content to take up remaining space */
    padding: 20px;
    background-color: #0c0c0c;
    color: #fff;
}

button {
    width: 100%;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    box-sizing: border-box;
}

button:hover {
    background-color: #4bafff;
    color: #000000;
}

/* Style for #bar to keep image at the top */
#bar {
    width: 200px;
    height: calc(100vh - 50px);
    background: #00327d;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky; /* Utrzymuje pasek w widoku podczas przewijania */
    top: 0; /* Ustawienie paska na górze głównej sekcji */
    z-index: 10; /* Zapewnia, że pasek jest nad innymi elementami */
}

/* Move button container to the bottom of #bar */
#button-container {
    width: 200px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}